<h1>Welcome <%= @user.firstName %> <%= @user.lastName %>,</h1>

<div class="text-center">
  <div class="col-md-4">
    <button class="btn btn-large btn-primary">Enter New Child</button>
  </div>
</div>
