<div class="text-center">
  <h1>Welcome</h1>
  <p>Please Login or Sign up to check your child into the system.</p>
  <div class="row">
    <div class="col-md-6">
      <div><%= image_tag("kids-church.png", :class => "signUpImage", :alt => "kids church") %></div>
    </div>
    <div class="col-md-6 right-welcome-panel">
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-lg btn-primary">Sign Up</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-lg btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>

</div>

